{% extends "inicio/encabezado.html" %}

{%block encabezado%}
<!--Encabezdo -->
<div class="page-header">
    <div class="page-title">
        <h3>Eliminar Comentario</h3>
    </div>        
</div>
<!-- /Encabezado-->
{%endblock%}

{%block contenido%}
    <form method="POST">
        {% csrf_token %}
        <div class="callout callout-danger fade in">
            <h5>Eliminar Comentario</h5>
            <p>Estas seguro, deseas <strong>Eliminar</strong> el comentario seleccionado?.</p>
        </div>

        <button type="submit" class="btn btn-danger">Si</button>
        <a href="{%url 'comentario' %}" class="btn btn-primary">Cancelar</a>
    </form>


{%endblock%}